.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-color: #f0f2f5; /* Slight background for full dashboard */
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.dashboard-card {
  background-color: #f7f7f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 280px;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.dashboard-card h2 {
  text-align: center;
  font-size: 2rem;
  color: #4caf50;
  font-weight: 600;
  margin-top: 20px;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dashboard-card .ant-card-head {
  background-color: #3b7dd8;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  padding: 15px;
}

/* Chart Section Styling */
.chart-section {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-chart-card {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 20px;
}

.dashboard-chart-card .ant-card-head {
  background-color: #262626;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
